<ion-content>
  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">강의 제목</ion-label>
      <ion-input formControlName="course_title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">강사 이름</ion-label>
      <ion-input formControlName="instructor_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">강의 설명</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>

    <ion-button expand="full" type="submit">수정 완료</ion-button>
  </form>
</ion-content>
