ion-content {
  padding-left: 250px; /* 사이드 메뉴 너비만큼 여백 추가 */
  flex: 1;

}

ion-app{
  display: flex;
}

.main-content {
  padding: 16px; /* 콘텐츠 여백 */
}

h1 {
  font-size: 24px;
  color: #333;
}

p {
  font-size: 16px;
  color: #666;
}


ion-toolbar {
  padding-left: 250px; /* 사이드 메뉴 너비만큼 여백 추가 */
  --background: #e8afff; /* 툴바 배경색 */
  --color: white; /* 툴바 글자색 */
}

app-sidemenu {
  width: 250px; /* 사이드 메뉴의 너비 */
}
