.sidemenu {
    display: block;
    min-width: 250px;
    max-width: 400px;
    width: 20vw;
  }

  .layout {
    display: flex;
    height: 100%;
  }


  .content-wrapper {
    flex-grow: 1;
    overflow: auto;
  }

  .main-container {
    height: 100%;
    //background-color: #EDF1F7;
    //align-items: flex-start;
    flex-direction: column; /* 세로 방향으로 설정 */
    max-width: 2000px;
    display: flex; /* Flexbox를 사용 */
    padding: 30px;
  }

  //^^^^기본 셋팅


  .project-search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    //margin: 10px;
    margin-bottom: 10px;

  }

  ion-header{
    --box-shadow: none;
    border-bottom: 1px solid #CDCDCD;
  }

  h1, h2, h3, h4, h6{
    margin:0 ;
  }

  h2{
    font-family: "pretendard-B", serif;
    font-size: 200%;
  }

  h6{
    color: #646464;
  }

  hr{
    width: 100%;
    height: 1.5px;
    background-color: #DCDCDC;
  }


  ////hr 아래

  .class1{
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #F8F8F8;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #D6D6D6;
  }

  .project-box{
    display: flex;
    flex-direction: column; /* 세로 방향으로 설정 */
    margin: 10px;
    gap: 10px;

  }

  .project-inner{
    display: flex;
    margin: 13px;
  }

  .project-title-img{
    display: flex;


  }

  .project-title{
    display:flex;
    flex-direction: column;

  }

  .project-newfolder{
    width: 23%;
    margin: 20px;
  }

  .project-folder{
    display: flex;
    align-items: flex-start;
    gap:10px;
    margin: 10px;

  }

  .projectinfo{
    width: 23%;

  }

/*
  .folder{
    position: absolute;
    top:10px;

  }
*/
.back-button{
  display: flex;
  margin-left: 16px;
  margin: 10px;

  ion-icon{
    width: 30px;
  }

  .title{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    font-family: pretendard-B,sans-serif;
  }
}

.folder-icon{
  width: 60px;

}

.folder-icon-inner{
  padding: 50px 68px;
  border: 1.5px solid #DEDEDE;
  border-radius: 25px;
}

.folder-icon-add{
  border: 1.5px dotted #DEDEDE;

}


.folder-title-name{
  font-size: 20px;
  font-family: pretendard-B,sans-serif;
}

.board-title-name{
  font-size: 21px;
  font-family: pretendard-B,sans-serif;

}
.board-title-detail-info{
  display: flex;
  gap: 10px;

  .day{
    color: #838383;
  }

  div{
    font-family: pretendard-B,sans-serif;
  }
}

.folder{
  display: flex;
  gap:10px;
  flex-direction: column;

}

.board-inner{
  display: flex;
  width: 271px;
  padding: 19px;
  border-radius: 17px;
  border: 1.5px solid #d6d6d6;
  flex-direction: column;
  margin-left: 20px;
  font-family: pretendard-B,sans-serif;
  cursor: pointer;


  .file{
    margin: 10px 0;
    color: #706DAD;
  }

  .chat{
    display: flex;
    align-items: center;
    gap:5px
  }

}

.board-inner-add{
  border: 1.5px dotted #d6d6d6;
  align-items: center;
  justify-content: center;
}

.subfolder{
  display: flex;
}

.board-detail-page{
  box-shadow: 1px 1px 0 0 #bdbdbd;
}



//팝업
/* 팝업 기본 설정 */
.popup-box {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 62%;
  height: 70%;
  background-color: white;
  z-index: 9999;
  transform: translateY(100%);
  animation: _ngcontent-ng-c4026634170_slideUp 0.5s ease-in-out forwards;
  border-radius: 22px 22px 0 0;
  box-shadow: 0px 0px 8.5px 0px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  justify-content: space-between;

}

/* 팝업이 활성화된 상태 */
.popup-box.show {
  transform: translateY(0); /* 화면에 나타남 */
}

/* 팝업 내용 */
.popup-content {
  /* display: flex; */
  padding: 20px;
  width: 300px;
  border-radius: 0 22px;
  background: #F2F0F8;
}

/* 위로 올라오는 애니메이션 정의 */
@keyframes slideUp {
  from {
    transform: translateY(100%); /* 화면 아래에서 시작 */
  }
  to {
    transform: translateY(0); /* 제자리 */
  }
}



