<ion-content>
  <div class="layout">
    <app-sidemenu class="sidemenu"></app-sidemenu>
    <div class="content-wrapper">
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title>내 프로젝트</ion-title>
        </ion-toolbar>
      </ion-header>
      <div class="project-inner">
        <div class="project-title">
          <img class="project-title-img" src="../../../../resourses/img/project/projectmy.svg"/>

          <!-- 뒤로가기 버튼 -->
          <div *ngIf="selectedFolderIndex !== null" class="back-button" (click)="goBackToFolders()">
            <ion-icon name="arrow-back"></ion-icon> 상위 폴더로 돌아가기
          </div>

          <div *ngIf="selectedFolderIndex === null" class="project-folder">

            <!-- 첫 번째 폴더 -->
            <div class="folder" (click)="openFolder(0)">
              <div class="folder-icon-inner">
                <img class="folder-icon" src="assets/svg/folder-icon.svg"/>
              </div>
              <div>
                <div>중간발표</div>
                <div>2024.08.25</div>
              </div>
            </div>

            <!-- 두 번째 폴더 -->
            <div class="folder" (click)="openFolder(1)">
              <div class="folder-icon-inner">
                <img class="folder-icon" src="assets/svg/folder-icon.svg"/>
              </div>
              <div>
                <div>기말발표</div>
                <div>2024.12.15</div>
              </div>
            </div>

            <!-- 새 폴더 -->
            <div class="folder">
              <div class="folder-icon-inner">
                <img class="folder-icon" src="assets/svg/Folder_add.svg"/>
              </div>
            </div>

          </div>

          <!-- 선택한 폴더의 하위 폴더 -->
          <div *ngIf="selectedFolderIndex !== null" class="subfolder">
            <div class="board-inner">
              <div class="board-title">
                <div>중간발표 대본</div>
                <div>
                  <div>김재호</div>
                  <div>2024.08.01</div>
                </div>
              </div>
                <div>middlePT.pdf</div>
              <div>
                <img src="assets/svg/Chat.svg">
              </div>
            </div>
          </div>

        </div>
        <img class="projectinfo" src="../../../../resourses/img/project/projectinfo.svg"/>
      </div>
    </div>
  </div>
</ion-content>
