.sidemenu {
    display: block;
    min-width: 250px;
    max-width: 400px;
    width: 20vw;
  }
  
  .layout {
    display: flex;
    height: 100%;
  }
  
  
  .content-wrapper {
    flex-grow: 1;
    overflow: auto;
  }
  
  .main-container {
    height: 100%;
    //background-color: #EDF1F7;
    //align-items: flex-start;
    flex-direction: column; /* 세로 방향으로 설정 */
    max-width: 2000px;
    display: flex; /* Flexbox를 사용 */
    padding: 30px;
  }
  
  //^^^^기본 셋팅
  
  
  .project-search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    //margin: 10px;
    margin-bottom: 10px;
  
  }
  
  ion-header{
    --box-shadow: none;
    border-bottom: 1px solid #CDCDCD;
  }
  
  h1, h2, h3, h4, h6{
    margin:0 ;
  }
  
  h4, h2{
    font-family: "pretendard-B", serif;
  }
  
  h2{
    font-size: 200%;
  }
  
  h6{
    color: #646464;
  }
  
  hr{
    width: 100%;
    height: 1.5px;
    background-color: #DCDCDC;
  }
  
  
  ////hr 아래
  
  ion-col{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: "pretendard-B", serif;
  }
  
  .class1{
    padding: 19px;
    background-color: #F8F8F8;
    border-radius: 10px;
    border: 1px solid #D6D6D6;
    width: 100%;
    max-height: 150px;
  }
  
  .project-box{
    display: flex;
    flex-direction: column; /* 세로 방향으로 설정 */
    margin: 10px;
    gap: 10px;
  
  }
  
  .join-btn{
    display: flex;
    justify-content: flex-end;
  }
  
  .col{
    justify-content: flex-start;
  }
  
  .class-title{
    flex-direction: column;
  }
  
  
  .class-team{
    font-family: "pretendard-R", serif;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 16px;
  }
  
  .class-create{
    display: flex;
    justify-content: space-between;
  
    .create-btn{
  
      --color: #7B7B7B;
      --border-radius: 10px;
      --border-color: #aeaeae;
      --border-style: solid;
      --border-width: 1.5px;
      --padding-bottom:3px;
      --padding-top:3px;
  
      font-size: 15px;
  
    }
  }
  
  .gray-button {
    color: gray; /* 텍스트 색상 조정 */
    pointer-events: none; /* 클릭 이벤트 방지 */
  }
  
  
  .delete-icon{
    cursor:pointer;
  
  }
  
  /* 이미 신청한 강의일 경우 */
  .registered {
    background-color: green; /* 이미 신청한 강의는 초록색 */
    color: white;
  }
  
  /* 신청하지 않은 강의일 경우 회색 */
  .grey-button {
    background-color: grey;
    color: white;
  }
  
  /* 기본값으로 검정색 */
  .black-button {
    background-color: black;
    color: white;
  }