
<ion-content>
  <div class="layout">
    <app-sidemenu class="sidemenu"></app-sidemenu>
    <div class="content-wrapper">
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title>클래스 신청</ion-title>
        </ion-toolbar>
      </ion-header>
      <div class="main-container">

          <div>
            <div class="project-search">
              <ion-icon size="large" name="search-outline"></ion-icon>
              <h2 class="project-title">클래스 탐색</h2>
            </div>

            <div class="class-create">
              <h6>아직 클래스에 소속되어있지 않아요! 클래스를 만들거나 조회해 보세요</h6>
              <ion-button class="create-btn" size="small" fill="outline">생성하기</ion-button>
            </div>
          </div>

        <hr/>

        <div class="project-box">
          <ion-grid class="class1">
            <ion-row>
                <ion-col>1</ion-col>
                <ion-col size="2">웹개발</ion-col>
              <ion-col size="8" class="class-title">
                <ion-col class="col">메타버스 아카데미 학생들을 위한 메타버스 플랫폼</ion-col>
                <br/>
                <ion-col class="class-team">HIP</ion-col>
              </ion-col>
              <ion-col class="join-btn">신청하기</ion-col>
            </ion-row>
          </ion-grid>

        </div>
      </div>
    </div>
  </div>
</ion-content>
