<aside>
  <ion-list id="inbox-list">
    <ion-item button (click)="navigateTo('main')">
      <img src="../../../assets/svg/HIP-Logo.svg" id="logo" alt="Logo">
    </ion-item>

    <ion-item button (click)="navigateTo('studyroom')">
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>홈</ion-label>
    </ion-item>

    <ion-item button (click)="toggleClasses()">
      <ion-icon name="book" slot="start"></ion-icon>
      <ion-label>클래스</ion-label>
      <ion-icon [name]="classesVisible ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
    </ion-item>

    <ion-list [ngClass]="{'slide-down': classesVisible, 'slide-up': !classesVisible}" *ngIf="classesVisible">
      <ion-item button (click)="navigateTo('classmy')">
        <ion-label>내 클래스</ion-label>
      </ion-item>
      <ion-item button (click)="navigateTo('classsignup')">
        <ion-label>클래스 신청</ion-label>
      </ion-item>
    </ion-list>

    <ion-item button (click)="toggleProjects()">
      <ion-icon name="folder" slot="start"></ion-icon>
      <ion-label>프로젝트</ion-label>
      <ion-icon [name]="projectsVisible ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
    </ion-item>

    <ion-list [ngClass]="{'slide-down': projectsVisible, 'slide-up': !projectsVisible}" *ngIf="projectsVisible">
      <ion-item button (click)="navigateTo('projectmy')">
        <ion-label>내 프로젝트</ion-label>
      </ion-item>
      <ion-item button (click)="navigateTo('projectsearch')">
        <ion-label>프로젝트 조회</ion-label>
      </ion-item>
    </ion-list>
  </ion-list>
</aside>
