<aside>
  <ion-list id="inbox-list">
    <ion-item (click)="navigateTo('main')" button>
      <img alt="Logo" id="logo" src="../../../assets/svg/HIP-Logo.svg">
    </ion-item>

    <ion-item (click)="navigateTo('studyroom')" button>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>홈</ion-label>
    </ion-item>

    <ion-item (click)="toggleClasses()" button>
      <ion-icon name="book" slot="start"></ion-icon>
      <ion-label>클래스</ion-label>
      <ion-icon [name]="classesVisible ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
    </ion-item>

    <ion-list *ngIf="classesVisible" [ngClass]="{'slide-down': classesVisible, 'slide-up': !classesVisible}">
      <ion-item (click)="navigateTo('classmy')" [disabled]="isLoading" button>
        <ion-label>내 클래스</ion-label>
        <ion-spinner *ngIf="isLoading" name="dots"></ion-spinner>
      </ion-item>
      <ion-item (click)="navigateTo('classsignup')" *ngIf="userRole !== 'instructor'" button>
        <ion-label>클래스 신청</ion-label>
      </ion-item>
    </ion-list>


    <ion-item (click)="toggleProjects()" button>

      <ion-icon name="folder" slot="start"></ion-icon>
      <ion-label>프로젝트</ion-label>
      <ion-icon [name]="projectsVisible ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>

    </ion-item>

    <ion-list *ngIf="projectsVisible" [ngClass]="{'slide-down': projectsVisible, 'slide-up': !projectsVisible}">
      <ion-item (click)="navigateTo('projectmy')" button>
        <ion-label>내 프로젝트</ion-label>
      </ion-item>
      <ion-item (click)="navigateTo('projectsearch')" button>
        <ion-label>프로젝트 조회</ion-label>
      </ion-item>
    </ion-list>
  </ion-list>

  <!-- 에러 메시지 표시 -->
  <ion-toast
    (didDismiss)="errorMessage = ''"
    *ngIf="errorMessage"
    [duration]="3000"
    [isOpen]="!!errorMessage"
    [message]="errorMessage"
    color="danger"
    position="bottom"
  ></ion-toast>
</aside>
