aside {
  height: 100vh; /* 높이를 100vh로 설정 */
  background-color: #fff; /* 배경색 설정 */
  transition: width 0.3s; /* 너비 변화에 애니메이션 추가 */
  border-right:1px solid #B1B1B1;
}

.item-native .item-inner {
  border: none; /* 테두리 없애기 */
}

.slide-down {
  animation: slideDown 0.3s ease forwards;
}

.slide-up {
  animation: slideUp 0.3s ease forwards;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 200px; /* 원하는 최대 높이 설정 */
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    max-height: 200px; /* 원하는 최대 높이 설정 */
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

ion-item {
  --border-style: none; /* border 스타일 제거 */
}
