<aside>
  <ion-list id="inbox-list">
    <ion-item button (click)="navigateTo('main')">
      <img src="../../../assets/svg/HIP-Logo.svg" id="logo" alt="Logo">
    </ion-item>

    <ion-item button (click)="navigateTo('studyroom')">
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>홈</ion-label>
    </ion-item>

    <ion-item button (click)="toggleClasses()">
      <ion-icon name="book" slot="start"></ion-icon>
      <ion-label>클래스</ion-label>
      <ion-icon [name]="classesVisible ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
    </ion-item>

    <!-- 일반 사용자와 관리자에 따라 다른 메뉴 표시 -->
    <ion-list [ngClass]="{'slide-down': classesVisible, 'slide-up': !classesVisible}" *ngIf="classesVisible">
      <ng-container *ngIf="!isAdmin; else adminMenu">
        <!-- 일반 사용자 메뉴 -->
        <ion-item button (click)="navigateTo('classmy')" [disabled]="isLoading">
          <ion-label>내 클래스</ion-label>
          <ion-spinner *ngIf="isLoading" name="dots"></ion-spinner>
        </ion-item>
        <ion-item button (click)="navigateTo('classsignup')">
          <ion-label>클래스 신청</ion-label>
        </ion-item>
      </ng-container>
      <!-- 관리자 메뉴 -->
      <ng-template #adminMenu>
        <ion-item button (click)="navigateTo('registration-admin')">
          <ion-label>클래스 관리</ion-label>
        </ion-item>
      </ng-template>
    </ion-list>

    <ion-item button (click)="toggleProjects()">
      <ion-icon name="folder" slot="start"></ion-icon>
      <ion-label>프로젝트</ion-label>
      <ion-icon [name]="projectsVisible ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
    </ion-item>

    <ion-list [ngClass]="{'slide-down': projectsVisible, 'slide-up': !projectsVisible}" *ngIf="projectsVisible">
      <ion-item button (click)="navigateTo('projectmy')">
        <ion-label>내 프로젝트</ion-label>
      </ion-item>
      <ion-item button (click)="navigateTo('projectsearch')">
        <ion-label>프로젝트 조회</ion-label>
      </ion-item>
    </ion-list>
  </ion-list>

  <!-- 에러 메시지 표시 -->
  <ion-toast
    *ngIf="errorMessage"
    [isOpen]="!!errorMessage"
    [message]="errorMessage"
    [duration]="3000"
    (didDismiss)="errorMessage = ''"
    position="bottom"
    color="danger"
  ></ion-toast>
</aside>