
<ion-content>
  <div class="layout">
    <app-sidemenu class="sidemenu"></app-sidemenu>
    <div class="content-wrapper">
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title>프로젝트 신청</ion-title>
        </ion-toolbar>
      </ion-header>
      <div class="main-container">

        <div>
          <div class="project-search">
            <ion-icon size="large" name="search-outline"></ion-icon>
            <h2 class="project-title">프로젝트 탐색</h2>
          </div>

          <h6>아직 프로젝트에 소속되어있지 않아요! 프로젝트를 만들거나 조회해 보세요</h6>
        </div>

        <hr/>

        <div class="project-box">
          <div class="class1">
            <h4>1</h4>
            <h4>웹개발</h4>
            <h4>메타버스 학생을 위한</h4>
            <h4>신청하기</h4>
          </div>
          <div class="class1">
            <h4>1</h4>
            <h4>웹개발</h4>
            <h4>메타버스 학생을 위한</h4>
            <h4>신청하기</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
