ion-content{
  --border-radius: 100px;
}

ion-modal{
  --border-radius: 22px;
  --box-shadow: none;
  --height: 490px;
  --width: 580px;

}


.modal-content {
  --padding-start: 0;
  --padding-end: 0;
  padding: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin:50px;
}

.join-title{
  font-size: 20px;
  margin:10px;
  font-family: pretendard-B,Serif;


}


.input-course{
  border: 1px solid #1c1c1c;
}
