<ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bad Request</ion-card-title>
      </ion-card-header>
      <ion-card-content class="bad-request-content">
        <ion-icon name="warning" size="large"></ion-icon>
        <p>Sorry, your request could not be understood by the server.</p>
        <ion-text color="danger">Bad Request</ion-text>
        <ion-button expand="full" routerLink="/">Go to Home</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
  