<div class="course-doc-inner">
  <!-- 기존 폴더들 -->
  <div *ngFor="let topic of DocTopics" class="folder-one">
    <div class="folder folder-icon">
      <ion-icon name="folder"></ion-icon>
    </div>
    <div class="folder-title">
      <div class="doc-txt">{{ topic.topic_title }}</div>
      <div class="ellipsis-icon">
        <ion-icon name="trash" style="cursor: pointer"
                  (click)="deleteDoc(course_id,topic.topic_id)">
        </ion-icon>
      </div>
    </div>
    <div class="doc-txt-desc">{{ topic.pa_topic_id }}</div>
  </div>

  <!-- 새 폴더 추가 입력 폼 (초기에는 숨김) -->
  <div *ngIf="showNewTopicForm" class="folder-one">
    <div class="folder folder-icon">
      <ion-icon name="folder"></ion-icon>
    </div>
    <div class="folder-title">
      <input [(ngModel)]="newDocTopicTitle" placeholder="커리큘럼 제목" (input)="validateInputs()">
    </div>
    <input [(ngModel)]="newDocTopicDesc" placeholder="설명 (예: 10주차)" (input)="validateInputs()">
    <button style="cursor: pointer" [disabled]="!isInputValid" (click)="createDocTopic()">확인</button>
  </div>

  <!-- 항상 마지막에 위치하는 폴더 추가 버튼 -->
  <div class="folder-one">
    <div class="folder folder-add" (click)="showAddTopicForm()">
      <img style="width:65px;" src="assets/svg/Folder_add.svg">
    </div>
  </div>
</div>
