<ion-header>
  <ion-toolbar>
    <ion-title>
      <app-top-bar></app-top-bar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="repcontent">
    <div class = "part1"><img class="title-image" src="../../../assets/jpg/1.jpg"></div>
    <div class="part2">
      <br>
      <div class="project-name">Metaverse Campus</div>
      <br>
      <br>
      <br>
      <br>
      <div class="team-name">HIP</div>
      <div class="class-name">3기</div>
    </div>
  </div>
  <div class="maincontent shadow-box">

    <div class="maxmaincontent">
      <div class="introduce texts">
        <ion-icon name="bulb-outline" class="icons">
        </ion-icon> Introduce
      </div>
      <ul>
        <li  class= "introduce-content" *ngFor="let intro of introduce">{{ intro }}</li>
      </ul>
      <ion-item class="boundary">
      </ion-item>

      <div class="members texts">
        <ion-icon name="people-outline" class="icons"></ion-icon> Members
      </div>
      <ul class="member-list">
        <li *ngFor="let member of members" class="member-item">
          <div class="member-container">
            <img [src]="member.image || noneImage" alt="{{ member.name }}" class="member-image" />
            <p class="member-name">{{ member.name }}</p>
          </div>
        </li>
      </ul>

      <ion-item class="boundary">
      </ion-item>

      <div class="output texts">
        <ion-icon name="trophy-outline" class="icons"></ion-icon> Output
      </div>
      <div class="member-container">
        <img [src]="outputImage" alt="Output Image" class="output-image"/>
      </div>
      <ion-item class="boundary">
      </ion-item>

      <h2>{{ cardDetails }}</h2>



    </div>
  </div>
</ion-content>
