<ion-header>
  <ion-toolbar>
    <ion-title>
      <app-top-bar></app-top-bar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="exhibitionDetails">
  <div class="exhibition-details">
    <h1>{{ exhibitionDetails.projectName }}</h1>
    <p>팀 이름: {{ exhibitionDetails.teamName }}</p>
    <p>교육과정: {{ exhibitionDetails.course }}</p>

    <img [src]="exhibitionDetails.thumbnailUrl" alt="전시관 썸네일" class="thumbnail">

    <h2>소개</h2>
    <ul>
      <li *ngFor="let intro of exhibitionDetails.introductions">{{ intro }}</li>
    </ul>

    <h2>팀원</h2>
    <div class="members">
      <div *ngFor="let member of exhibitionDetails.members" class="member">
        <img [src]="member.image || '../assets/svg/none-people.svg'" [alt]="member.name">
        <p>{{ member.name }}</p>
      </div>
    </div>

    <h2>결과물</h2>
    <div class="outputs">
      <img *ngFor="let image of exhibitionDetails.outputImages" [src]="image" alt="결과물 이미지">
    </div>
    <video *ngIf="exhibitionDetails.outputVideo" [src]="exhibitionDetails.outputVideo" controls></video>
  </div>
</ion-content>
