
.shadow-box {
  padding: 20px;
  background-color: white;
  position: relative; /* 그림자 효과를 위한 위치 설정 */
  border-top: 2px solid transparent; /* 위쪽 테두리 설정 */
  /* 왼쪽과 아래쪽 그림자를 제거하기 위해 수평, 수직 오프셋을 조정 */
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
}

.headerbox {
  width: 100%;
  height: 350px;
  background: linear-gradient(213deg, #FDF2FF 0%, #E9F1FF 100%);
}

.repcontent {
  width: 100%;
  height: 350px;
  background: linear-gradient(213deg, #FDF2FF 0%, #E9F1FF 100%);
  display: flex;
  flex-direction: row; /* 수평 배열 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  margin-bottom: 50px;
}


.part1 {
  display: flex;
}

.title-image {
  width: 300px;
  height: 185px;
  border-radius: 10px;
}

.part2 {
  height: 185px;
  flex-direction: column; /* 수직 배열로 변경 */
  justify-content: center; /* 중앙 정렬 */
  margin-left: 30px; /* 간격 추가 (선택 사항) */
}

.part2 .project-name{
  font-family: 'pretendard-B', serif;
  font-size: 32px;
}

.part2 .team-name{
  font-family: "pretendard-R", serif;
  font-size: 24px;
}

.maincontent {
  height: min-content;
  margin-top: -50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: white;
}

.maxmaincontent{
  max-width: 1200px;
  margin: auto;
}

.texts{
  display: flex; /* 플렉스 박스 사용 */
  align-items: center; /* 세로 정렬 */
  font-size: 35px;
  font-family: "pretendard-B", serif;
  margin :50px 0 50px 0
}

.icons{
  margin-right: 10px;
  vertical-align: middle;
  color: white;
  background-color: #171717;
  border-radius: 10px;
  padding: 4px;
}

.introduce-content{
  font-family: "pretendard-R", serif;
  font-size: 30px;
  margin: 30px;
}

.member-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* 멤버가 추가될 때 가로로 나열되도록 설정 */
  list-style-type: none;
  padding: 0;
}

.member-item {
  text-align: center; /* 이름을 중앙 정렬 */
  margin: auto;
}

.member-container {
  display: flex;
  flex-direction: column; /* 이미지와 이름을 세로로 나열 */
  align-items: center; /* 가운데 정렬 */
}

.member-image {
  width: 210px; /* 이미지 크기 조정 */
  height: 230px; /* 이미지 크기 조정 */
  border-radius: 50%; /* 원형으로 만들기 */
}

.member-name {
  margin-top: 5px; /* 이미지와 이름 사이 간격 */
  font-family: "pretendard-B", serif;
  font-size: 25px;
}


.boundary{
  margin-bottom: 20px;
}

.output-image{
  margin: 30px;
  border-radius: 5px;
}


