
.shadow-box {
  padding: 20px;
  background-color: white;
  position: relative; /* 그림자 효과를 위한 위치 설정 */
  border-top: 2px solid transparent; /* 위쪽 테두리 설정 */
  /* 왼쪽과 아래쪽 그림자를 제거하기 위해 수평, 수직 오프셋을 조정 */
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
}

.headerbox {
  width: 100%;
  height: 350px;
  background: linear-gradient(213deg, #FDF2FF 0%, #E9F1FF 100%);
}

.repcontent {
  width: 100%;
  height: 350px;
  background: linear-gradient(213deg, #FDF2FF 0%, #E9F1FF 100%);
  display: flex;
  flex-direction: column;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  margin-bottom: 50px;
}


.part1 {
  display: flex;
}

.top-box{
  display: flex;
  font-family: 'pretendard-B', serif;
  flex-direction: column;
  margin: auto;
}

.metatext{
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 30px;
  margin-top: -30px;
  font-family: 'pretendard-B', serif;
  font-size: 20px;
}

.title-image {
  width: 300px;
  height: 168px;
  border-radius: 10px;

  justify-content: flex-end;
}

.part2 {
  flex-direction: row; /* 수직 배열로 변경 */
  justify-content: center; /* 중앙 정렬 */
  width: 899px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.part2 .project-name{
  font-family: 'pretendard-B', serif;
  font-size: 50px;
  color: #000000;
}

.part2 .team-name{
  font-family: "pretendard-B", serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
}

.part2 .class-name{
  font-family: "pretendard-B", serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
}

.part2 .description{
  font-family: "pretendard-B", serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 100px;
}

.part2 .part2right{
  align-items: center;
  display: flex;
}

.maincontent {
  height: min-content;
  margin-top: -50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: white;
}

.maxmaincontent{
  max-width: 1200px;
  margin: auto;
}

.texts{
  display: flex; /* 플렉스 박스 사용 */
  align-items: center; /* 세로 정렬 */
  font-size: 35px;
  font-family: "pretendard-B", serif;
  margin :50px 0 50px 0
}

.icons{
  margin-right: 10px;
  vertical-align: middle;
  color: white;
  background-color: #171717;
  border-radius: 10px;
  padding: 4px;
}

.part2 .icons{
  margin-right: 10px;
  vertical-align: middle;
  padding: 4px;
  background-color: salmon;
}

.introduce-content{
  font-family: "pretendard-R", serif;
  font-size: 30px;
  margin: 30px;
}

.member-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* 멤버가 추가될 때 가로로 나열되도록 설정 */
  list-style-type: none;
  padding: 0;
}

.member-item {
  text-align: center; /* 이름을 중앙 정렬 */
  margin: auto;
  flex: 0 0 25%; /* 한 줄에 4명 (100% / 4명 = 25%) */
  max-width: 25%; /* 최대 너비를 25%로 설정 */
}

.member-container {
  display: flex;
  flex-direction: column; /* 이미지와 이름을 세로로 나열 */
  align-items: center; /* 가운데 정렬 */
}

.member-image {
  width: 210px; /* 이미지 크기 조정 */
  height: 230px; /* 이미지 크기 조정 */
  border-radius: 50%; /* 원형으로 만들기 */
}

.member-name {
  margin-top: 5px; /* 이미지와 이름 사이 간격 */
  font-family: "pretendard-B", serif;
  font-size: 25px;
}

.parent-container {
  position: relative; /* 부모 컨테이너를 상대적으로 설정 */
}

.button-container {
  display: flex;
  flex-direction: column; /* 버튼을 세로로 배치 */
  position: fixed; /* 스크롤 시에도 고정된 위치에 있도록 설정 */
  bottom: 80px; /* + 아이콘 위에 위치하도록 조정 */
  right: 20px; /* 오른쪽에 위치 */
  z-index: 10; /* z-index로 버튼이 앞에 오도록 설정 */
  opacity: 0; /* 버튼을 기본적으로 숨김 */
  transition: opacity 0.3s ease; /* 부드러운 전환 효과 */
}

.button-container.show {
  opacity: 1; /* show 클래스가 추가되면 버튼이 보임 */
}

.floating-button {
  position: fixed; /* 고정 위치 설정 */
  bottom: 20px; /* 화면 하단에서의 위치 */
  right: 20px; /* 화면 오른쪽에서의 위치 */
  border-radius: 50%; /* 동그란 모양 */
  width: 56px; /* 버튼 크기 조정 */
  height: 56px; /* 버튼 크기 조정 */
  --background: #3880ff; /* 버튼 색상 */
  --color: white; /* 아이콘 색상 */
}




.boundary{
  margin-bottom: 20px;
}

.doc-image{
  margin: 30px;
  border-radius: 5px;
}

.output-video{
  width :  70%;
  height : 70%;
}

.output-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doc-image{
  width : 70%;
  height: 70%;
}

ion-button {
  width: 100%; // 버튼을 가로로 꽉 채움
  font-size: 16px; // 글자 크기 조정
}

.iframe-container {
  width: 100vw; /* 전체 너비 */
  height: 100vh; /* 전체 높이 */
  margin: 0; /* 외부 여백 제거 */
  padding: 0; /* 내부 여백 제거 */
}

.background-image {
  margin: 0; /* 외부 여백 제거 */
  padding: 0; /* 내부 여백 제거 */
  width: 100%; /* 전체 너비 */
  height: 100%; /* 전체 높이 */
}

iframe {
  margin-top: -5px; /* 외부 여백 제거 */
  width: 100%; /* 전체 너비 */
  height: 100%; /* 전체 높이 */
}

.start{
  width: 200px;
  background-color: #0e21a3;
  height: 100px;
  color: white;

}

.unreal-streaming-container {
  padding: 20px;

  h2 {
    margin-bottom: 16px;
  }

  .streaming-button {
    margin-bottom: 20px;
    width: 500px;
  }

  iframe {
    width: 100%;
    aspect-ratio: 16/9; /* 또는 실제 컨텐츠의 비율에 맞게 조정 */
    border: none;
    background: #000;
  }
}

.project-start{
  margin: auto;
}