<ion-content>
  <div class="layout">
    <app-sidemenu class="sidemenu"></app-sidemenu>
    <div class="content-wrapper">
      <div class="main-container">
        <div class="main-container2">
          <div class="top-container">
            <div class="attendance">
              <ion-card class="content-box attendance-box">
                <ion-card-header>
                  <ion-card-title>출석 / 출결관리</ion-card-title>
                </ion-card-header>
                <hr />
                <ion-card-content>
                  <div><img src="../../../assets/svg/Calendar.svg" class="qrcode"></div>
                  <p class="current-time">{{ currentDate }}</p>
                  <ion-button class="attendance-button" (click)="openModal()">출결진행</ion-button>
                </ion-card-content>
              </ion-card>
            </div>

            <div class="blank">
              <ion-card class="content-box blank-box">
                <ion-card-header>
                  <ion-card-title>빈 박스</ion-card-title>
                </ion-card-header>
              </ion-card>
            </div>
          </div>

          <div class="class-project">
            <div class="class-project2">
              <div class="status"></div>
              <ion-card class="class-box bottom-box">
                <img class="process-icon" src="../../../assets/svg/Dell.svg">
                <ion-card-header>
                  <ion-card-subtitle>최민지, 김인용 강사님</ion-card-subtitle>
                  <ion-card-title>프론트엔드 / 백엔드 프로그래밍</ion-card-title>
                </ion-card-header>
              </ion-card>
              <ion-card class="project-box bottom-box">
                <img class="process-icon" src="../../../assets/svg/Dell2.svg">
                <ion-card-header>
                  <ion-card-subtitle>프로젝트</ion-card-subtitle>
                  <ion-card-title>Metaverse Campus 웹페이지 제작</ion-card-title>
                </ion-card-header>
              </ion-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
