.sidemenu {
  display: block;
  min-width: 250px;
  max-width: 400px;
  width: 20vw;
  border-right: #9e65ff solid 2px;
}

.layout {
  display: flex;
  height: 100%;
}


.lecture-content .content-wrapper {
  flex-grow: 1;
  overflow: auto;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-container {
  border: #6591ff solid 2px;
  height: 100%;
  background-color: #EDF1F7;
  flex-direction: column; /* 세로 방향으로 설정 */
  max-width: 2000px;
  display: flex; /* Flexbox를 사용 */
}

//^^^^기본 셋팅


.lecture-content{
  align-content: center;
  text-align: center;
  display: flex;
}

.css12{
  height: 10px;
  width: 10%;
}


section.BG-color{
  //color: #b0b8ff;
  //background-color: #E9EEFF;
  //height: 300px;
  display: flex;
  justify-content: center;
  position: relative;
  align-content: center;
}

section.BG-color::before{
  z-index: -1;
  position: absolute;
  width: 100%;
  background-color: #c9d6ff;
  height: 200px;
  content:"";
}

//강의 제목
div.box-title{
  padding: 50px;
  background-color: #ffffff;
  display: flex;
  //border: 1px solid #353B77;
  border-radius: 10px;
  box-shadow: 0 0 10px #c5c5c5;
  width: 100%;
  margin:100px 200px;
  margin-bottom:10px;
  flex-direction: column;
  text-align: left;
  min-width:500px;

}

.lecture-title{
  //background-color: #6d62fd;
  font-size: 30px;
  font-family: "pretendard-B", serif;
}

span.lecture-rule{
  background-color: #6281fd;
  border-radius: 10px;
  padding: 10px;
  place-items: center;
}


ul{
  list-style: none;
}

hr{
  height: 10px;
  border-top: 1px solid #878787;
  width: 100% !important;
}


/*상세메뉴 스타일*/
.lecture-page{
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lecture-page > *{
  width: 70%;
}

.lecture-page .detail-menu{
  display: flex;
}

.lecture-page #lecture-menu{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap:10px;
  padding-left: 0;

}

.lecture-page #lecture-menu > li  {
  cursor:pointer;
  transition:color 0.3s;

}

.lecture-page #lecture-menu > li.active{
  color: blue; /* 활성화된 버튼의 폰트 색상 */
  font-family: pretendard-B, Serif;
}

.lecture-page #lecture-menu > li:not(.active){
  color: gray;
}


/*강의목록 안에 있는 section*/
.active-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active-section > *{
  display:flex;
  width:70%;
  justify-content: flex-start;
}

.active-section .lecture-title-des{
}

#lecture-item-list{padding:0;}
#lecture-item-list .lecture-item-entire{
  width: 100%;
  position: relative;
}

#lecture-item-list .lecture-item-entire .create-btn{
  display: flex;
  position: absolute;
  top:25px;
  left:-30px;
  font-size: 20px;
  border: 2px solid;
  border-radius: 4px;
  padding-bottom:2px;
  width:21px;
  justify-content: center;
  line-height: 16px;
  opacity: 0;
  align-items: center;
  color:#BCBCBC;
  transition: opacity 0.2s ease;
  cursor : pointer;

}

#lecture-item-list .lecture-item-entire:hover .create-btn{
  display:flex;
  opacity:1

}

#lecture-item-list .lecture-item{
  display: flex;
  flex-direction: row;
  background: #f4f6ff;
  border: 1px solid #d5ddff;
  border-radius: 10px;
  width: 100%;
  padding:25px;
  gap:20px;

}

#lecture-item-list .lecture-item .lecture-order{
  background-color: #535353;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

}

/*예시 미리보기*/
.input-box {
  margin-top: 10px;
}

.created-course {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

