

<ion-content>
  <div class="layout">
    <app-sidemenu class="sidemenu"></app-sidemenu>
    <div class="content-wrapper">

      <section class="BG-color">
        <div class="box-title">
          <div style="flex-direction: row; margin: 10px">
            <span class="lecture-spot">강의실 | 117-1</span>
          </div>
          <span class="lecture-title">프론트엔드/백엔드 프로그래밍</span>
          <span class="lecture-spot">강사</span>

          <h6>본 강좌는 JavaScript와 TypeScript를 중심으로 프론트엔드에서 필요한 개발 언어를 학습하며, next.js와 Angular를 이용한 백엔드 개발을 배웁니다.</h6>
        </div>
      </section>

      <section class="lecture-page">
        <h3 class="detail-menu">상세메뉴</h3>
        <ul id="lecture-menu">
          <li class="lecture-list" [ngClass]="{ active: activeSection === 'lecture' }" (click)="setActiveSection('lecture')">강의목록</li>
          <li class="learn-material" [ngClass]="{ active: activeSection === 'material' }" (click)="setActiveSection('material')">학습자료</li>
        </ul>
        <hr/>
      </section>

      <div *ngIf="activeSection === 'lecture'"  [ngClass]="{ active: activeSection === 'lecture' }" class="active-section">
        <span class="lecture-title-des">지난 날의 강의를 다시 복습할 수 있어요</span>

        <div>총 {{ courses.length }}강의</div>
        <ul id="lecture-item-list">
          <li class="lecture-item-entire" >
            <div class="create-btn"  >+</div>
            <div class="lecture-item">
              <span class="lecture-order">1</span>
              <div>Spring</div>
            </div>

          </li>
        </ul>

        <ul id="lecture-item-list-1">
          <li class="lecture-item-entire" *ngFor="let title of courses; let i = index">
            <div class="create-btn">+</div>
            <div class="lecture-item">
              <span class="lecture-order">{{ i + 1 }}</span>
              <div>{{ title }}</div>
            </div>

          </li>
        </ul>

        <!-- 새 강의 제목을 입력받는 입력 필드 -->
        <div class="lecture-item-entire">
          <input type="text" [(ngModel)]="newCourseTitle" placeholder="새 강의 제목을 입력하세요" />
          <button (click)="confirmCourse()">확인</button> <!-- 확인 버튼 추가 -->
        </div>



      </div>


      <div *ngIf="activeSection === 'material'" class="active-section">
        <h4>학습자료 내용</h4>
        <!-- 학습 자료의 내용을 여기에 추가하세요 -->
      </div>
    </div>
  </div>
</ion-content>
