<ion-content>
  <div class="content-inner">
    <img src="../../assets/svg/HIP-Logo.svg" alt="logo">

    <div style="display: flex; flex-direction: row; justify-content: center; align-content: center">
      <div style="margin-bottom: 20px; color: #1c1c1c; font-size: 13px; font-weight: 400">
        이미 회원이신가요?
        <button routerLink="/loginpage" style="color: #6d62fd; font-weight: 900; background-color: white; margin: 10px; font-family: 'pretendard-B', serif;">
          로그인하기
        </button>
      </div>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="input-group">

        <div class="input-content">
          <div class="title-login">아이디</div>
          <div class="input-description">아이디는 5자리~20자리까지 입력가능합니다.</div>
        </div>
        <div class="input-login">
          <ion-input formControlName="id" color="none" placeholder="아이디 입력"></ion-input>
        </div>

        <div class="input-content">
          <div class="title-login">비밀번호</div>
          <div class="input-description">비밀번호는 7자리~20자리까지 입력가능합니다.</div>
        </div>
        <div class="input-login">
          <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password" type="password" color="none" placeholder="비밀번호 입력"></ion-input>
          <ion-icon
            name="eye"
            (click)="togglePasswordVisibility()"
            style="color:#9B9B9B; width: 20px; margin-left: 10px; cursor: pointer;"
          ></ion-icon>
        </div>

        <div class="input-content">
          <div class="title-login">비밀번호 확인</div>
          <div class="input-description">비밀번호를 다시 입력해주세요.</div>
        </div>
        <div class="input-login">
          <ion-input formControlName="passwordConfirm" type="password" color="none" placeholder="비밀번호 확인"></ion-input>
        </div>

        <div class="input-content">
          <div class="title-login">닉네임</div>
          <div class="input-description">닉네임은 3자리~10자리까지 입력가능합니다.</div>
        </div>
        <div class="input-login">
          <ion-input formControlName="nick_name" color="none" placeholder="닉네임을 입력해주세요"></ion-input>
        </div>

        <div class="title-login">이름</div>
        <div class="input-login">
          <ion-input formControlName="user_name" color="none" placeholder="이름을 입력해주세요"></ion-input>
        </div>

        <div class="input-content">
          <div class="title-login">이메일</div>
          <div class="input-description">사용하고 있는 이메일은 재사용불가입니다.</div>
        </div>
        <div class="input-login">
          <ion-input formControlName="email" type="email" color="none" placeholder="이메일 주소"></ion-input>
        </div>



      </div>
      <div style="height: 15px;"></div>
      <ion-button class="btn-login" type="submit" >회원가입</ion-button>
    </form>

    <button routerLink="/main" style="color: #939393; background-color: white; margin: 10px; font-size:12px">
      홈으로 가기
    </button>
  </div>
</ion-content>
