ion-refresher .refresher-pulling,
ion-refresher .refresher-refreshing {
  display: none;
}





.BG-t{
  width:100%;
  height:100%;
  background-color: #ffffff;
  opacity: 0.1;
  position: absolute;
  top:10px;
}

