<ion-header>
    <ion-toolbar>
      <ion-title>내 강의 목록</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let course of coursesList">
        <ion-label>
          <h2>{{ course.course_title }}</h2>
          <p>{{ course.description }}</p>
          <p>강사: {{ course.instructor_name }} | {{ course.generation }}</p>
          <p *ngIf="course.course_notice">공지: {{ course.course_notice }}</p>
        </ion-label>
        <ion-button slot="end" (click)="enterCourse(course.course_id)">
          진입
        </ion-button>
      </ion-item>
    </ion-list>
  
    <ion-text *ngIf="coursesList.length === 0" class="ion-text-center">
      <p>진행 중인 강의가 없습니다.</p>
    </ion-text>
  </ion-content>