<ion-header>
  <ion-toolbar>
    <ion-title>
      <app-top-bar></app-top-bar>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="searchbox">
    <div class = "searchcontent">
      <div class="searchmessage">당신의 <span class="output">output</span>을 검색해보세요.</div>
      <div class="searchcomponent">
        <ion-searchbar class="searchbar" search-icon="none" placeholder="검색하기" ></ion-searchbar>
        <ion-button class="searchbarbtn" color="primary" slot="start">
          검색
        </ion-button>
      </div>

    </div>

  </div>
    <div class="maincontent shadow-box">
    <div class="section section1">
      <div class ="classycontent"><ion-icon name="search" ></ion-icon> 프로젝트 탐색
        <div class ="clssfy">
          <span class="currycu">교육과정</span><span class="reset">초기화<ion-icon name="reload-outline" class="reseticon"></ion-icon></span>
          <div class="classnamebox">
            <div class="classname">
              <ion-checkbox class="custom-checkbox" labelPlacement="end">1기</ion-checkbox>
            </div>
            <div class="classname">
              <ion-checkbox class="custom-checkbox" labelPlacement="end">2기</ion-checkbox>
            </div>
            <div class="classname">
              <ion-checkbox class="custom-checkbox" labelPlacement="end">3기</ion-checkbox>
            </div>
          </div>
        </div>
        <ion-button class="create-exhibition" color="primary" (click)="navigateToExhibitionCreate()">
          새로운 전시 생성
        </ion-button>
      </div>
    </div>


    <div class="section2">


      <ng-container *ngFor="let card of cards" class="cardcontainer">
        <app-card class="card"
                  [id]="card.id"
                  [title]="card.title"
                  [teamname]="card.teamname"
                  [content]="card.content"
                  [image]="card.image">
        </app-card>
      </ng-container>
      <!--   정렬 기능-->
      <ion-accordion-group class = "sortgroup">
        <ion-accordion class="sorthead" [value]="isOpen ? 'first' : ''">
          <ion-item slot="header" class="custom">
            <ion-label>{{ accordionTitle }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-button expand="full" (click)="changeTitle('최신순')">최신순</ion-button>
          </div>
          <div class="ion-padding" slot="content">
            <ion-button expand="full" (click)="changeTitle('조회순')">조회순</ion-button>
          </div>
          <div class="ion-padding" slot="content">
            <ion-button expand="full" (click)="changeTitle('오래된순')">오래된순</ion-button>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>

  </div>


</ion-content>
