



.ion-color-primary{
  --ion-color-base:#7269EE !important;
}


ion-checkbox::part(container) {
  border-radius: 6px;
  border: 1px solid #DFDFDF;
}


.shadow-box {
  padding: 20px;
  background-color: white;
  position: relative; /* 그림자 효과를 위한 위치 설정 */
  border-top: 2px solid transparent; /* 위쪽 테두리 설정 */
  /* 왼쪽과 아래쪽 그림자를 제거하기 위해 수평, 수직 오프셋을 조정 */
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}



.searchbox {
  width: 100%;
  height: 350px;
  background: linear-gradient(213deg, #FDF2FF 0%, #E9F1FF 100%);
}

.BG-t{
  width:100%;
  height:100%;
  background-color: #ffffff;
  opacity: 0.1;
  position: absolute;
  top:10px;
  z-index: -100;
}

.searchbox .searchcontent {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; /* 수평 중앙 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  height: 100%; /* 부모 요소의 높이를 차지하게 */
  margin: auto;
}

.searchbox .searchmessage {
  font-size: 28px;
  font-family: 'pretendard-B', serif;
  align-self: flex-start; /* 메시지를 왼쪽 정렬 */
  color : #545454;
}

.searchbox .searchmessage .output {
  font-family: 'pretendard-B', serif;
  color: #7269EE;
}

.searchbox .searchcomponent {
  display: flex;
  width: 100%; /* 부모 요소의 너비를 차지하게 */
  align-items: center; /* 자식 요소를 수직 중앙 정렬 */
  margin-top: 10px;
}

.searchbox .searchbar {

  height: 42px; /* 검색창의 높이 설정 */
  display: flex;
  padding: 0;
  --border-radius: 10px 0px 0px 10px;


}

.searchbox .searchbarbtn {
  height: 42px; /* 버튼의 높이를 검색창과 동일하게 설정 */
  width: 80px;
  display: flex;
  justify-content: flex-end;
  float: right;
  margin: 0;
  font-weight: 700;
  --border-radius: 0px 10px 10px 0;
}
.maincontent {
  display: flex; /* Flexbox 활성화 */
  height: 100vh; /* 전체 높이를 사용 */
  margin-top: -50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.section1 {
  flex: 1;
  background-color: #ffffff; /* 첫 번째 섹션 색상 */
  border-top-left-radius: 30px;
  min-width: 250px;
  display: flex;
  justify-content: center;
}
.section1 .classycontent{
  width: 80%;
  height: 100%;
  margin-top: 50px;
  font-weight: 550;
  max-width: 210px;
}
ion-checkbox {
  --checkbox-background-checked: #7269EE;
}





.section1 .classycontent .clssfy{
  width: 100%;
  height: 150px;
  border-radius: 20px;
  margin-top: 10px;
  border: 1px solid #DFDFDF;
  padding-top: 17px;
}

.section1 .classycontent .clssfy .currycu{
  margin-left: 20px;
  margin-right: 60px;
}

.section1 .classycontent .clssfy .reset{
  margin-right: revert;
  font-size: 13px;
  color: #B0B0B0;
}

.section1 .classycontent .clssfy .reset .reseticon{
  margin-left: 8px;
  color: #B0B0B0;
}

.classname{
  margin-top: 5px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 15px;
  color: #4F4F4F;

}


.classnamebox{
  margin-top: 25px;
}





.section2 {
  flex: 5;
  padding: 10px; /* 내용물과 경계 간격 */
  background-color: white ;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;

}

.sortgroup {
  position: absolute; /* 절대 위치로 설정 */
  top: 15px; /* 상단에 고정 */
  right: 15px; /* 왼쪽에 고정 */
  width: 115px;
  white-space: nowrap;
  z-index: 2;
}

.sortgroup .sorthead{
  border-radius: 10px;

}

.sortgroup .custom{
  font-size: 13px;
  --border-radius: 10px;

}

.ion-padding{
  padding: 0;
  background-color: white;
}

.ion-padding{
  ion-button {
    --background: transparent; /* 배경색 제거 */
    --color: inherit; /* 텍스트 색상 유지 */
    --box-shadow: none; /* 그림자 제거 */
  }
}

.cardcontainer {
  display: flex; /* Flexbox 활성화 */
  flex-wrap: wrap; /* 카드가 공간에 맞춰 줄바꿈되도록 설정 */

}

.app-card {
  width: 100%; /* 기본 너비를 100%로 설정 */
  max-width: 300px; /* 최대 너비를 300px로 설정 */
  height: auto; /* 높이를 자동으로 설정 */
  margin: 20px; /* 카드 간 간격을 위한 마진 추가 */
  overflow: hidden; /* 오버플로우 처리 */
  border-radius: 10px; /* 카드 모서리 둥글게 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */

}


.card-image {
  width: 300px; /* 이미지 너비 100% */
  height: 168px; /* 고정 높이 */
  object-fit: cover; /* 비율 유지하면서 잘라내기 */
  border-radius: 10px;
}

.card-title {
  font-family: 'pretendard-B', serif;
  font-size: 20px;
  font-weight: 1000; /* 제목 두껍게 */
}

.subtitle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-subtitle {
  font-size: 14px; /* 팀 이름 크기 */
  color: #666; /* 팀 이름 색상 */
  flex: 1;
  text-align: left;
}

.card-description {
  font-size: 12px; /* 설명 크기 */
  color: #444; /* 설명 색상 */
  text-align: right;
}

ion-badge {
  margin-left: 8px; // 배지와 팀 이름 사이의 간격 조정
  margin-top: 20px;
}

.card-date {
  font-size: 12px; /* 날짜 크기 */
  color: #999; /* 날짜 색상 */
}

.grid{
  max-width: 1600px;
}
